/* Ogólny styl strony */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6e6; /* Jasne czerwone tło */
    color: #333; /* Ciemnoszary tekst */
}

/* Nagłówek */
header {
    background-color: #cc0000; /* Czerwony nagłówek */
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Nawigacja */
nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: #cc0000;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Główna zawartość */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #cc0000;
    font-size: 2em;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Stopka */
footer {
    background-color: #cc0000;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#registration-form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#login-button {
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
