<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albumy Skolima</title>
</head>
<body>
    <header>
        <h1>Albumy</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Strona Główna</a></li>
            <li><a href="{% url 'songs' %}">Piosenki</a></li>
            <li><a href="{% url 'concerts' %}">Koncerty</a></li>
            <li><a href="{% url 'collaborations' %}">Kolaboracje</a></li>
        </ul>
    </nav>
    <main>
        <ul>
            {% for album in albums %}
                <li>
                    <a href="{% url 'album_detail' album.id %}">
                        {{ album.title }} ({{ album.release_date }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>

