<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koncerty Skolima</title>
</head>
<body>
    <header>
        <h1>Koncerty</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Strona Główna</a></li>
            <li><a href="{% url 'albums' %}">Albumy</a></li>
            <li><a href="{% url 'songs' %}">Piosenki</a></li>
            <li><a href="{% url 'collaborations' %}">Kolaboracje</a></li>
        </ul>
    </nav>
    <main>
        <ul>
            {% for concert in concerts %}
                <li>
                    <a href="{% url 'concert_detail' concert.id %}">
                        {{ concert.title }} - {{ concert.date }} w {{ concert.location }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
